<h1>UNDEVOURED BURGERS</h1>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  	<li>
  	  <p><span class="label">Burger number</span> {{this.id}}</p>
      <p><span class="label"></span> {{this.burger_name}}</p>
      <button class="go-devour" data-id="{{this.id}}">DEVOUR</button>
  	</li>
  {{/unless}}
  {{/each}}
</ul>
<h1>DEVOURED BURGERS</h1>
<ul>
  {{#each burgers}}
  {{#if devoured}}
  	<li>
  	  <p><span class="label">Burger number</span> {{this.id}}</p>
      <p><span class="label"></span> {{this.burger_name}}</p>
  	</li>
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>


